*,
*::after,
*::before {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #333;
  color: hsl(200, 100%, 90%);
  margin: 0;
}

.form-title {
  padding: 1rem;
  margin: 0 auto;
  max-width: 400px;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn {
  background: hsl(200, 100%, 50%, 0.1);
  border: 1px solid hsl(200, 100%, 50%);
  color: hsl(200, 100%, 50%);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: hsl(200, 100%, 50%, 0.2);
}

.btn.btn-danger {
  background: hsl(0, 100%, 40%, 0.1);
  border: 1px solid hsl(0, 100%, 40%);
  color: hsl(0, 100%, 40%);
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: hsl(0, 100%, 40%, 0.2);
}

.new-item-form input {
  outline: none;
  border: 1px solid hsl(200, 100%, 40%);
  background: hsl(200, 100%, 30%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: hsl(200, 100%, 90%);
}

.new-item-form input:focus {
  border: 1px solid hsl(200, 100%, 70%);
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 400px;
}

.list {
  margin-left: 1rem;
  list-style: none;
  padding: 1rem;
  margin: 0 auto;
  max-width: 400px;
}

.list li:has(input:checked) label {
  color: hsl(200, 20%, 40%);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list li {
  display: flex;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 2rem;
  cursor: pointer;
  align-items: center;
  flex: 1;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid hsl(200, 100%, 50%);
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: hsl(200, 100%, 90%);
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li label:hover::before {
  background: hsl(200, 100%, 80%);
}

.list li:has(input:checked) label::before {
  content: "✔";
  background: hsl(200, 100%, 40%);
  color: hsl(200, 100%, 90%);
  font-size: 0.75rem;
  font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
  background: hsl(200, 100%, 30%);
}

.list li .todo-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.list li .todo-details h3 {
  margin: 0;
  font-size: 1rem;
}

.list li .todo-details p {
  margin: 0;
  font-size: 0.8rem;
  color: hsl(200, 50%, 70%);
}

.nav {
  background-color: #0c0b0bc4;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.home {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: .5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.calculator-header {
  display: flex;
  justify-content: center;
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover,
.calculator-grid>button.focus {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.homelist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.homelist li {
  text-align: center;
  background-color: #0501013d;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.homelist li:hover {
  transform: scale(1.05);
}

.homelist a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.app-image {
  display: flex;
  aspect-ratio: 1;
  object-fit: cover;
  justify-content: center;
  width: 295px;
  border-radius: 10px;
}

.home-title {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 0 1rem 0 0;
}

.weather-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: invert(100%) sepia(7%) saturate(7473%) hue-rotate(193deg) brightness(102%) contrast(112%);
}

.weather-icon.large {
  width: 80px;
  height: 80px;
}

.header-current-temp {
  font-size: 2rem;
  margin-left: 1rem;
}

.header-right {
  display: grid;
  width: 50%;
  justify-content: space-around;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;
  color: hsl(205, 100%, 70%);
}

.value-sub-info {
  font-weight: lighter;
  font-size: 0.75rem;
}

.day-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 92px);
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid hsl(200, 100%, 41%);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.day-card-day {
  font-size: 0.75rem;
  color: hsl(200, 100%, 20%);
  margin-top: 0.5rem;
}

.hour-section {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.weather-info {
  display: flex;
  align-items: center;
}

.weather-description {
  padding-left: 1rem;
}

.hour-row {
  background-color: hsl(0, 0%, 25%);
  text-align: center;
}

.hour-row:nth-child(2n) {
  background-color: hsl(0, 0%, 20%);
}

.hour-row>td {
  padding: 0.25rem 0.5rem;
}

.blurred {
  filter: blur(3px);
  overflow: hidden;
}